{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h4 class="text-center mb-4" style="color: cadetblue; font-style: oblique;">Cancel Order</h4>

    <div class="card shadow-sm p-4 mx-auto" style="width: 400px; border-radius: 15px;">
        <p>Confirm that you want to cancel this order.</p>

        <ul class="list-group mb-3">
            <li class="list-group-item"><strong>Product:</strong>{{ order.product.name|default:"Custom Order" }}</li>
            <li class="list-group-item"><strong>Quantity:</strong>{{ order.quantity }}</li>
            <li class="list-group-item"><strong>Total Price</strong>Ksh {{ order.total_price }}</li>
        </ul>

        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <a href="{% url 'my_orders' %}" class="btn btn-secondary">Back</a>
                <button type="submit" class="btn btn-danger">Confirm Cancel</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}