{% extends 'base.html' %}
{% block content %}
<div class="mt-5 container my-4">
    <h4 class="text-center mb-4" style="font-style: oblique; color: cedtablue;">Our Products</h4>
    <div class="row">
        {% for order in orders %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <img src="#" class="card-img-top" alt="{{ product.name }}" >
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <p class="fw-bold text-primary">{{ product.price }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center" style="color: #ccc; font-style: italic;">
                You have not made any order.
            </p>
        {% endfor %}
    </div>
</div>
{% endblock %}