{% extends 'base.html'%}
{% load socialaccount %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="mt-5 card shadow-lg p-4" style="width: 400px; border-radius: 15px;">
        <h4 class="mb-3 text-center" style="font-style: oblique; color: cadetblue;">Login</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 input-icon">
                <label for="username" class="form-label visually-hidden">Username</label>
                <i class="bi bi-envelope"></i>
                <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username to login" required>
            </div>

            <div class="mb-3 input-icon">
                <label for="password" class="form-label visually-hidden">Password</label>
                <i class="bi bi-lock"></i>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password to login" required>
            </div>
            
            <button type="submit" class="mt-2 btn btn-primary w-100">Login</button><br>

            <p class="mt-3 text-center" style="font-style: oblique;">Don't have account?<a href="{% url 'register'%}"> Register Here</a></p>
        </form>

        <div class="mt-3 text-center">
            <p style="font-style: oblique;">Or</p>
            <a href="{% provider_login_url 'google' %}" 
            class="btn d-flex align-items-center justify-content-center w-100"
            style="background: white; border: 1px solid #dadce0; color: rgba(0,0,0,.54); font-weight: 500;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" 
                    style="width: 20px; height: 20px; margin-right: 10px;" alt="Google logo">
                Login with Google
            </a>
        </div>
    </div>
</div>
{% endblock %}
