{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h4 class="mb-4 text-center" style="color: cadetblue; font-style: oblique;">Available Products</h4>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                <img src="{% static 'images/no-image.jpg' %}" class="card-img-top" alt="No image">
                {% endif %}

                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatechars:80 }}</p>
                    <p class="fw-bold text-primary">Ksh {{ product.price }}</p>
                    <a href="{% url 'place_order' %}?product_name={{ product.name }}" class="btn btn-primary w-100">Order</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center text-muted mt-4">No products available at the moment.</p>
        {% endfor %}
    </div>
    <div class="text-center mt-5">
        <h5 class="text-secondary mb-3">Can’t find what you’re looking for?</h5>
        <p>You can request a custom product. Describe what you want, and optionally upload a photo for reference.</p>
        <a href="{% url 'place_order' %}" class="btn btn-outline-dark">
            <i class="bi bi-hammer"></i> Request Custom Product
        </a>
    </div>
</div>

{% endblock %}
